* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body {
    max-width: 1400px;
    background-color: #eeeff1;
    margin: 0 auto;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    height: 80px;

    .navbarHeading{
        font-size: 24px;
        font-weight: 600;
        color: #1a1c20;
        text-decoration: none;
    }

    .iconSectionContainer {
    
        a{
            text-decoration: none;
            margin: 0px 10px;
            color: #1a1c20;
            span{
                margin-left: 5px;
            }
        }
            .emailbtn{
                color: #fff;
                background-color: #1a1c20;
                padding: 5px 15px;
                border-radius: 5px;
            }
    }
}

.intro-section {
    display: flex;
    margin: 50px 0px 100px 0px;
    align-items: center;
    gap: 40px;
    padding: 0px 50px;

    .intro-section-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        h2{
            font-size: 45px;
            color: #1a1c20;
            margin-bottom:15 px;
        }        
        p{
            font-size: 18px;
            color: #3a3b3c;
            margin: 20px 0px;
        }
        .links{
            margin-top: 25px;

        }
        a{
            display: inline-block;
            text-decoration: none;
            padding: 5px 10px;
            border-radius: 5px;
            margin-right: 15px;
            margin-bottom: 10px;
            transition: 0.1s;
            color: #4a76ee;
            border: 2px solid #4a76ee;
        }
        

    }
    .profile-image {
        img {
            width: 350px;
            border-radius: 60%
        }
    }   
}

.skillsSection {
    display: flex;
    padding: 0px 50px;
    flex-direction: column;
    margin-bottom: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;

    h2 {
        font-size: 36px;
        color: #1a1c20;
        margin-bottom: 20px;
        width: 100%;        
        text-align: center; 
    }
    p{
        margin-bottom: 18px;
    }
    .dev-skills-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap; 

        .cells{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            margin: 10px;
            padding: 10px 20px;
            width: 200px;
            border: 1.5px solid #d3d3d3;
            border-radius: 5px;

            img{
                width: 30px;
                height: 30px;
                object-fit: contain;
                border-radius: 2px;
                
            }
        }
    }


}
.testimonySection{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    padding: 0px 50px;
    h2{
        font-size: 36px;
        margin-top: 30;
    }
    .testimonyContentcontainer{
        
        display: flex;
        gap: 50px;
        align-items: center;
        
        .testimonyImageContainer{
            img{
                width: 200px;
                border-radius: 50%;
                object-fit: cover;
                margin-bottom: 10px;
            }
            .testimony-image-header{
                font-weight: 600;
                color: #1a1c20;
            }
        }
        .testimonytextContainer{
            flex: 1;

        }
    }
}
.ContactSection{
    display: flex;
    flex-direction: column;
    padding: 0px 50px;
    margin-bottom: 100px;

    h2{
        font-size: 35px;
        margin-bottom: 30px;
    }
    .contactContentContainer{
        display:flex;
        gap: 50px;
        

        .contantTextContent{
            flex: 1;

        }
        .contactFormContent{
            flex: 1;
            display: flex;
            flex-direction: column;
            input{
                background-color: transparent;
                border: 2px solid #4a76ee;
                padding: 10px;
                margin-bottom: 10px; 
                outline: none;
                resize: none;      
            }
            textarea{
                background-color: transparent;
                border: 2px solid #4a76ee;
                padding: 10px;
                margin-bottom: 10px; 
                outline: none;
                resize: none;
            }
            button{
                font-size: 16px;
                color: #fff;
                background-color: #4a76ee;
                border:none ;
                height: 50px;
                cursor: pointer;
                transition: 0.1s;
                &:hover{
                    background-color: #3a5fcc;
                }

            }
        }   

    }
    
}
@media (max-width: 740px) {
      .intro-section{
        flex-direction: column-reverse;
        .intro-section-content{
            h2{
                font-size: 30px;
            }
        }
        .profile-image{
            img{
                width: 300px;
            }    
        }
    }
    .testimonySection{
        text-align: center;
        .testimonyContentcontainer{
            flex-direction: column;
        }
    }
    .ContactSection{
        flex-direction: column;
        .contactContentContainer{
            flex-direction: column;
        }
    }   
}
@media (max-width: 600px) {
    .navbar{
        padding: 0px 20px;

        .iconSectionContainer{
            span{
                display: none;
            }
            .emailbtn{
                background-color: transparent;
                color:#1a1c20 ;
                padding: 5px 10px;
            }
            a{
                font-size: 22px;
            }
            
         }
    }
    .intro-section{
        padding: 0px 20px;
        flex-direction: column-reverse;
        .intro-section-content{
            align-items: center;
            text-align: center;
            h2{
                font-size: 32px;
            }
        }
    }
    .skillsSection{
        padding: 0px 20px;
    }
    .testimonySection{
        padding: 0px 20px;
        text-align: center;
        .testimonyContentcontainer{
            flex-direction: column;
        }
    }
    .ContactSection{
        padding: 0px 20px;
        flex-direction: column;
        .contactContentContainer{
            flex-direction: column;
        }
    }   
}